@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 222 34% 7%;
    --foreground: 213 31% 91%;
    --card: 222 34% 9%;
    --card-foreground: 210 40% 98%;
    --popover: 222 34% 7%;
    --popover-foreground: 210 40% 98%;
    --primary: 262 83% 58%;
    --primary-foreground: 0 0% 100%;
    --secondary: 215 20% 25%;
    --secondary-foreground: 210 40% 98%;
    --muted: 215 16% 20%;
    --muted-foreground: 215 20% 75%;
    --accent: 262 83% 58%;
    --accent-foreground: 0 0% 100%;
    --destructive: 0 84% 60%;
    --destructive-foreground: 0 0% 100%;
    --border: 217 32% 17%;
    --input: 217 32% 17%;
    --ring: 262 83% 66%;
    --radius: 0.875rem;
  }

  .dark {
    --background: 222 34% 7%;
    --foreground: 213 31% 91%;
    --card: 222 34% 9%;
    --card-foreground: 210 40% 98%;
    --popover: 222 34% 9%;
    --popover-foreground: 210 40% 98%;
    --primary: 262 83% 58%;
    --primary-foreground: 0 0% 100%;
    --secondary: 215 20% 25%;
    --secondary-foreground: 210 40% 98%;
    --muted: 215 16% 20%;
    --muted-foreground: 215 20% 75%;
    --accent: 262 83% 58%;
    --accent-foreground: 0 0% 100%;
    --destructive: 0 84% 60%;
    --destructive-foreground: 0 0% 100%;
    --border: 217 32% 17%;
    --input: 217 32% 17%;
    --ring: 262 83% 66%;
  }

  * {
    @apply border-border;
  }

  body {
    @apply bg-background text-foreground antialiased;
  }
}
